// search informer

.search-informer {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr;
    background: url('../img/bg-search.png') no-repeat center top;
    background-size: cover;
    color: @white;
    text-align: center;

    h2 {
        margin: 10px 0;
        padding: 0;
        font: 32px @os-bold;
    }

    p {
        font: 16px @os-regular;
    }

}