doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    //meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#000000")
    title JS-SNIPPETS.COM | Main page
    link(rel='stylesheet', href='../styles/normalize.css')
    link(rel='stylesheet', href='../styles/style.css')
  body

    // header

    include ./blocks/block-header/header.pug

    // / header

    // header

    include ./blocks/block-navigation/navigation.pug

    // / header

    // main

    main

      // content

      .container.posts

        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-1.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | Uranium - Creative Portfolio WordPress Theme
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum          
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")

        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme        
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-2.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | Glück - A Creative Multi-Concept Theme for Digital Agencies and Freelancers
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum               
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")


        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-3.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | Digrand - Portfolio And Blog Theme
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum             
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")


        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme        
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-4.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | Enside - Multipurpose Onepage WordPress Theme
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum            
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")


        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme        
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-5.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | Camille - Multi-Concept WordPress Theme
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum            
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")


        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme        
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-6.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | Andra - Photography Portfolio WordPress Ajax Theme            
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum             
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")


        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme        
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-7.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | AuroraX - Portfolio WordPress Theme
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum              
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")


        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme        
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-8.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | MiniPo - Multipurpose Minimal Portfolio WordPress Theme
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum             
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")


        // post

        article(role="post")
          a.icon-tag(href="#" title="")
            | WordPress Theme        
          a.posts__preview(href="#" title="")
            img(src="./img/previews/preview-9.jpg" alt="@@")
          a.posts__title(href="#" title="")
            | Sarto - A Multi-Concept Theme for Creative Agencies and Freelancers
          ul
            li
              | item
            li
              | item
            li
              | item
          .posts__detail                        
            hr
            p
              | lorem ipsum         
            a.button.posts__button-preview(href="#" title="")
              | Preview
            a.icon-heart(href="#" title="")
              img(src="img/share.svg" alt="")

      // content

      .container.posts

        include ./blocks/block-pagination/pagination.pug

    // / main

    // footer

    include ./blocks/block-footer/footer.pug

    // footer