nav

	// container

	.container

		ul.navigation
			li
				a(href="#" title="")
					| WordPress
			li
				a(href="#" title="")
					| Joomla
			li
				a(href="#" title="")
					| Modx
			li
				a(href="#" title="")
					| Bitrix