@import '../styles/fonts.css';
a {
  transition: all 0.5s ease-in-out;
}
body {
  cursor: default;
  font: 14px 'open_sansregular';
}
a {
  cursor: pointer;
}
ul {
  -webkit-padding-start: 0px !important;
  -moz-padding-start: 0px !important;
}
.no-margin {
  margin: 0 !important;
  float: none !important;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.posts {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 20px;
  grid-column-gap: 20px;
}
main {
  padding: 40px 0 20px 0;
  background: #f3f3f3;
}
article {
  position: relative;
  margin: 0 20px 20px 0;
  padding: 16px;
  width: auto;
  background: #fff;
}
article hr {
  margin: 16px 0;
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  outline: 0;
  background: #d9d9d9;
}
article ul {
  margin-left: 20px;
}
article ul li {
  list-style: disc;
  font: 14px 'open_sansregular';
  color: #000;
}
.posts__detail {
  height: auto;
}
.posts__title {
  margin: 0;
  display: block;
  min-height: 40px;
  font: 16px 'open_sanssemibold';
  color: #0F050C;
  text-decoration: none;
}
.posts__title:hover {
  text-decoration: underline;
}
.posts__preview {
  display: block;
  width: 100%;
  height: auto;
}
.posts__preview img {
  margin-bottom: 16px;
  display: block;
  max-width: 100%;
  height: auto;
}
.posts__button-preview {
  background: #fff;
}
.posts__button-preview:hover {
  border-color: #3CB46C;
}
.icon-heart {
  margin-top: 4px;
  display: block;
  float: right;
}
.icon-heart img {
  padding: 0;
  margin: 0;
  display: block;
  width: 22px;
  height: 22px;
}
.icon-tag {
  margin: 0 0 0 0;
  position: absolute;
  padding: 6px 10px;
  background: #000;
  font: 14px 'open_sansregular';
  color: #3CB46C;
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 6px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background: #fff;
  font: 14px 'open_sanssemibold';
  color: #0F050C;
  text-align: center;
  line-height: auto;
  text-decoration: none;
}
.posts__detail p {
  color: #d9d9d9;
}
.detail {
  max-width: 1220px;
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-gap: 20px;
  grid-column-gap: 20px;
}
.detail article {
  position: relative;
  margin: 0 0px 20px 0;
  padding: 16px;
  width: auto;
  background: #fff;
}
.detail article img {
  display: block;
  width: 100%;
  height: auto;
}
.detail article hr {
  margin: 16px 0;
  display: block;
  width: 100%;
  height: 1px;
  border: 0;
  outline: 0;
  background: #d9d9d9;
}
.rating {
  margin: 0;
}
.rating li {
  margin-right: 4px;
  list-style: none;
  display: inline-block;
}
.rating li a,
.rating li a:hover {
  display: block;
  width: 14px;
  height: 14px;
  background: #000;
  border-radius: 50%;
}
.price span {
  display: inline-block;
  font: 24px 'open_sansbold';
}
.price p {
  display: inline-block;
  font: 14px 'open_sansregular';
}
.date-published p {
  font: 14px 'open_sansregular';
  color: #d9d9d9;
}
.title__small_bold p {
  margin-bottom: -4px;
  font: 14px 'open_sansbold';
  color: #0F050C;
}
.tags {
  margin-left: 0;
}
.tags li {
  list-style: none;
  display: inline-block;
}
.tags li a,
.tags li a:hover {
  padding: 4px 8px;
  background: #d8d8d8;
  font: 14px 'open_sansregular';
  color: #0F050C;
  text-decoration: none;
  border-radius: 4px;
}
.tags li a:hover,
.tags li a:hover:hover {
  background: #0F050C;
  color: #fff;
}
.categories {
  display: grid;
  grid-template-columns: 1fr;
}
.category__title {
  margin: -10px 0 20px 0;
  padding: 0;
  font: 18px 'open_sansbold';
  color: #0F050C;
  height: 30px;
}
footer {
  width: 100%;
  background: #0F050C;
  color: #fff;
  height: auto;
  padding-bottom: 10px;
}
.footer {
  max-width: 1160px;
}
.footer__topbar {
  padding: 20px 0 30px 0;
  text-align: right;
}
.logo {
  color: #fff;
  font: 22px 'open_sanssemibold';
  text-decoration: none;
}
.logo span {
  color: #3CB46C;
}
.logo-line {
  margin: 26px 0 -10px -4px;
  width: 32%;
  height: 1px;
  background: #3CB46C;
}
.footer__content {
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 50px;
  grid-row-gap: 0px;
  grid-column-gap: 10px;
}
.footer__content a,
.footer__content a:hover {
  color: #fff;
}
.footer__links li {
  position: relative;
  padding: 0 20px 0 0;
  display: inline-block;
}
.footer__links li a {
  font: 14px 'open_sansregular';
  text-decoration: none;
}
.footer__links li a:hover {
  text-decoration: underline;
}
.footer__links li:after {
  position: absolute;
  width: 10px;
  height: 20px;
  top: 2px;
  right: 0px;
  display: block;
  content: "/";
}
.footer__socials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
.footer__socials li {
  display: inline-block;
}
.footer__socials li a,
.footer__socials li a:hover {
  display: block;
  width: 36px;
  height: 36px;
}
.footer__socials li a img,
.footer__socials li a:hover img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
p.footer__copyright {
  font: 12px 'open_sansregular';
  color: #F4F4FB;
}
header {
  padding: 16px 0 20px 0;
  width: 100%;
  background: #0F050C;
  color: #fff;
}
.navigation {
  padding: 10px 0;
}
.navigation li {
  margin-right: 10px;
  list-style: none;
  display: inline-block;
}
.navigation li a,
.navigation li a:hover {
  border-radius: 4px;
  padding: 8px;
  background: #d9d9d9;
  font: 14px 'open_sansregular';
  color: #0F050C;
  text-decoration: none;
}
.pagination li {
  list-style: none;
  display: inline-block;
  text-align: center;
}
.pagination li a,
.pagination li a:hover {
  margin: 0 2px;
  padding: 6px 12px;
  background: #d9d9d9;
  font: 14px 'open_sansregular';
  color: #0F050C;
  text-decoration: none;
  border-radius: 4px;
}
.pagination li a:hover,
.pagination li a:hover:hover {
  background: #0F050C;
  color: #fff;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
