// normalize

//@import '../styles/normalize.less';

// fonts & variables

@import '../styles/helpers/variables.less';
@import '../styles/helpers/sprite.less';
@import '../styles/fonts.css';


@import '../blocks/block-footer/footer.less';


// SETTINGS //

// animation

a {
	transition: all 0.5s ease-in-out;
}

// body

body {
	cursor: default;
	overflow-x: hidden !important;
}

a {
  cursor: pointer;
}

ul {
	-webkit-padding-start: 0px !important;
	-moz-padding-start: 0px !important;
}

.no-margin {
	margin: 0 !important;
	float: none !important;
}