footer
	
	// container

	.container

		// links

		ul.footer__links
			li
				a(href="#" title="")
					| about
			li
				a(href="#" title="")
					| privacy policy
			li
				a(href="#" title="")
					| sitemap
